<%- if devise_mapping.omniauthable? %>
  <div class="space-y-4">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: 'f' do %>
        <span>-</span>
      <% end %>
    <% end %>
  </div>
<% end %>