<% conversation = Conversation.joins(:user_conversations).where(user_conversations: {user_id: current_user.id}) %>
<div class="flex flex-col gap-2">
  <% conversation.each do |s|%>
    <div class="flex flex-row gap-2 border-b items-center">
      <% if s.conversation_type == 'Single' %>
        <% user = s.user_conversations.where.not(user_id: current_user.id).first.user %>
        <%= image_tag user.avatar_url, class:"h-5 w-5 rounded-full" %>
        <%= link_to user.full_name, message_path(s.conversation_id), class: "font-medium text-md text-gray-800" %>
      <% end %>
    </div>
  <% end %>
</div>