<div class="fixed z-30 w-full bg-white border-b border-gray-200 dark:border-gray-700">
  <div class="h-full px-3 py-2 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-end">
      <%= image_tag url_for(current_user.avatar_url), alt: "profile-picture", class: "h-8 w-8 rounded-full pointer-events-none" %>
    </div>
  </div>
</div>